.btn-co-primary {
  box-shadow: 0 1px 4px 2px #0000001a;
  background-color: #5c2983;
  border: 0.5px inset rgb(170, 50, 220, 0);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn-co-primary:hover {
  color: #5c2983;
  background-color: white;
  box-shadow: 0 1px 4px 2px #5c29831a;
  border: 0.5px inset #5c2983;
}

.btn-co-secondary {
  box-shadow: 0 1px 4px 2px #0000001a;
  border: 0.5px inset rgb(170, 50, 220, 0);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn-co-secondary:hover {
  color: #000;
  background-color: white;
  border: 1px solid #000;
}

.btn-co-secondary.btn-light {
  color: #444;
  border: 1px solid #ccc;
}

.btn-co-secondary.btn-light:hover {
  box-shadow: 0 1px 4px 2px #5c29831a;
  color: #000;
  border: 1px solid #000;
}

.btn-hero {
  font-size: 22px;
  padding: 6px 24px;
}

.btn-edit-page {
  float: right;
}

.homepage .btn {
  margin-bottom: 6px;
}

#easy-hacks-issues a,
#easy-projects-issues a {
  box-shadow: 0 0 2px 0 lightgray;
  padding: 24px;
  display: block;
  border-radius: 8px;
  text-decoration: none !important;
}

#easy-hacks-issues a:hover,
#easy-projects-issues a:hover {
  box-shadow: 0 0 2px 1px lightgray;
}

#easy-projects-issues #issue-0::after {
  content: '';
  display: block;
  background-image: url(https://user-images.githubusercontent.com/65948705/154491588-200cff6c-139f-4ab4-950a-cc8ce1be6436.png);
  position: absolute;
  width: 413px;
  height: 512px;
  right: -424px;
  border-bottom: 1px solid lightgray;
  border-radius: 0 0 80px 10px;
}

#easy-projects-issues #issue-1::after {
  content: '';
  display: block;
  background-image: url(https://user-images.githubusercontent.com/65948705/154537767-122b3ae1-c349-47de-b6e8-4c4407465385.png);
  background-size: 465px auto;
  position: absolute;
  width: 465px;
  height: 364px;
  left: -475px;
  border-bottom: 1px solid lightgray;
  border-radius: 0 0 10px 80px;
}

.badge-secondary {
  background-color: gray;
}
