.btn-co-primary {
  box-shadow: 0 1px 4px 2px #0000001a;
  background-color: #504999;
  border: 0.5px inset rgb(170, 50, 220, 0);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn-co-primary:hover {
  color: #504999;
  background-color: white;
  box-shadow: 0 1px 4px 2px #5049991a;
  border: 0.5px inset #504999;
}

.btn-co-secondary {
  box-shadow: 0 1px 4px 2px #0000001a;
  border: 0.5px inset rgb(170, 50, 220, 0);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn-co-secondary:hover {
  color: #000;
  background-color: white;
  box-shadow: 0 1px 4px 2px #5049991a;
  border: 0.5px inset #000;
}

.btn-hero {
  font-size: 22px;
  padding: 6px 24px;
}

#easy-hacks-issues a {
  box-shadow: 0 0 2px 0 lightgray;
  padding: 24px;
  display: block;
  border-radius: 8px;
  text-decoration: none !important;
}

#easy-hacks-issues a:hover {
  box-shadow: 0 0 2px 1px lightgray;
}
