.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-item {
  cursor: pointer !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#dropdownMenuButton {
  border-radius: 3px;
}

.build-code-content {
  display: none;
}
