#navbar-main-menu.bg-dark {
  background-color: #504999 !important;
}

#img-container-cooldays {
  content: '';
  width: 182px;
  height: 182px;
  background: url('/images/circle-cooldays-final-noshadow.svg');
  border-radius: 182px;
  margin-bottom: -100px;
  position: relative;
  float: right;
  margin-right: -58px;
  z-index: 1;
  animation-name: pulse-shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-decoration: none;
}

#img-container-cooldays:hover {
  animation-play-state: paused;
  box-shadow: 0 0 5px 1px #50499965, inset 0 -100px 50px 1px white !important;
}

#img-container-cooldays:hover::after {
  content: 'Watch all the talks';
  text-align: center;
  display: block;
  font-weight: bold;
  color: #504999;
  position: relative;
  top: 108px;
  background-image: linear-gradient(to right, #fff0, white, #fff0);
}

@media (max-width: 411px) {
  #img-container-cooldays {
    margin-right: 0;
  }
}
