@keyframes code-anim {
  0% {
    color: #082333;
    transform: rotate(19deg);
  }

  75% {
    color: #b92324;
    transform: rotate(-1deg);
  }

  100% {
    color: #6e1413;
    transform: rotate(0deg);
  }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 4px 1px #00000020;
  }

  50% {
    box-shadow: 0 0 4px 1px #00000050;
  }

  100% {
    box-shadow: 0 0 4px 1px #00000020;
  }
}

@keyframes show-cta-txt {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 100;
  }

  85% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

main.homepage h1.display-4 {
  transform: rotate(0deg);
  animation-name: code-anim;
  animation-duration: 1.2s;
}
.contributor-card {
  cursor: pointer;
  transition: box-shadow 0.15s ease;
  padding: 10px;
}

.contributor-card:hover {
  box-shadow: 0 0 6px rgba(0,0,0,0.12);
}
