.btn-co-primary {
  box-shadow: 0 1px 4px 2px #0000001a;
  background-color: #5c2983;
  border: 0.5px inset rgb(170, 50, 220, 0);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn-co-primary:hover {
  color: #5c2983;
  background-color: white;
  box-shadow: 0 1px 4px 2px #5c29831a;
  border: 0.5px inset #5c2983;
}

.btn-co-secondary {
  box-shadow: 0 1px 4px 2px #0000001a;
  border: 0.5px inset rgb(170, 50, 220, 0);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn-co-secondary:hover {
  color: #000;
  background-color: white;
  border: 1px solid #000;
}

.btn-co-secondary.btn-light {
  color: #444;
  border: 1px solid #ccc;
}

.btn-co-secondary.btn-light:hover {
  box-shadow: 0 1px 4px 2px #5c29831a;
  color: #000;
  border: 1px solid #000;
}

.btn-hero {
  font-size: 22px;
  padding: 6px 24px;
}

.btn-edit-page {
  float: right;
}

.homepage .btn {
  margin-bottom: 6px;
}

#easy-hacks-issues a,
#easy-projects-issues a {
  box-shadow: 0 0 2px 0 lightgray;
  padding: 24px;
  display: block;
  border-radius: 8px;
  text-decoration: none !important;
}

#easy-hacks-issues a:hover,
#easy-projects-issues a:hover {
  box-shadow: 0 0 2px 1px lightgray;
}

.gsoc-img {
  position: absolute;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}

#gsoc-img1 {
  width: 413px;
  height: 512px;
  right: -424px;
  top: 625px;
  border-radius: 0 0 80px 10px;
}

#gsoc-img2 {
  img {
    width: 100%;
    height: 100%;
  }
  width: 465px;
  height: 364px;
  top: 770px;
  left: -475px;
  border-radius: 0 0 10px 80px;
}

.badge-secondary {
  background-color: gray;
}
