#navbar-main-menu.bg-dark {
  background-color: #5c2983 !important;
}

.navbar-brand {
  margin-right: 0;
}

#img-container-cat {
  content: '';
  width: 182px;
  height: 182px;
  background: url('/images/circle-gsoc-cat.svg');
  border-radius: 182px;
  margin-bottom: -100px;
  position: relative;
  float: right;
  margin-right: -58px;
  z-index: 1;
  animation-name: pulse-shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-decoration: none;
}

#img-container-cat:hover {
  animation-play-state: paused;
  box-shadow: 0 0 5px 1px #5c298365, inset 0 -100px 50px 1px white !important;
}

#img-container-cat:hover::before,
#img-container-cat:hover::after {
  animation-play-state: paused;
}

#img-container-cat::after {
  content: 'Summer of Code';
  text-align: center;
  display: block;
  font-weight: normal;
  color: #1a2430;
  position: relative;
  top: 104px;
  background-image: linear-gradient(to right, #fff0 40%, white 80%, #fff0 95%);
  opacity: 0;
}

#img-container-cat::before {
  content: 'Google';
  text-align: center;
  display: block;
  font-weight: bold;
  color: #1a2430;
  position: relative;
  top: 108px;
  opacity: 0;
}

#img-container-cat::after,
#img-container-cat::before {
  animation-name: show-cat-txt;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media (max-width: 411px) {
  #img-container-cat {
    margin-right: 0;
  }
}

h2.mb-3::after {
  content: '\a0proposal\a0';
  color: gray;
  border-left: 1px dashed lightgray;
  border-right: 1px dashed lightgray;
  margin-left: 14px;
  border-radius: 6px;
}
