#navbar-main-menu.bg-dark {
  background-color: #5c2983 !important;
}

.navbar-brand {
  margin-right: 0;
}

.hero h3 {
  font-size: calc(1.32187rem + 0.3vw);
}

.home-laptop {
  visibility: hidden;
}

.home-screenshot {
  left: 50%;
  position: absolute;
  top: 2%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 4px;
  box-shadow: 0 12px 20px 0 lightgray;
}

.homepage-image {
  right: 0;
  top: 14px;
}

@media (min-width: 992px) {
  .homepage-image {
    position: absolute;
    width: 50%;
  }

  .home-laptop {
    visibility: visible;
    margin: 0 auto;
    max-height: 67vh;
  }

  .home-screenshot {
    height: 78%;
    box-shadow: none;
  }

  #tagline {
    width: 50%;
  }
}

#img-container-cat {
  content: '';
  width: 182px;
  height: 182px;
  background: url('/images/circle-hacktoberfest-cta.svg');
  border-radius: 182px;
  margin-bottom: -100px;
  position: relative;
  float: right;
  margin-right: -58px;
  z-index: 1;
  animation-name: pulse-shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-decoration: none;
}

#img-container-cat:hover {
  animation-play-state: paused;
  box-shadow: 0 0 5px 1px #5c298365, inset 0 -100px 50px 1px white !important;
}

#img-container-cat:hover::before,
#img-container-cat:hover::after {
  animation-play-state: paused;
}

#img-container-cat::after {
  content: '2022';
  text-align: center;
  display: block;
  font-weight: bold;
  color: #1a2430;
  position: relative;
  top: 104px;
  background-image: linear-gradient(to right, #fff0 20%, white 40%, white 50%, white 55%, #fff0 75%);
  opacity: 0;
}

#img-container-cat::before {
  content: 'Hacktoberfest';
  text-align: center;
  display: block;
  font-weight: bold;
  color: #1a2430;
  position: relative;
  top: 108px;
  background-image: linear-gradient(to right, #fff0 10%, white 20%, white 50%, white 60%, #fff0 95%);
  opacity: 0;
}

#img-container-cat::after,
#img-container-cat::before {
  animation-name: show-cat-txt;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media (max-width: 411px) {
  #img-container-cat {
    margin-right: 0;
  }
}
