<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose Operating System
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="#build-code-on-opensuse"><span class="dropdown-item"><em class="gnu-linux">GNU/Linux</em> openSUSE</span></a>
    <a href="#build-code-on-ubuntu"><span class="dropdown-item"><em class="gnu-linux">GNU/Linux</em> Ubuntu</span></a>
    <a href="#build-code-on-fedora"><span class="dropdown-item"><em class="gnu-linux">GNU/Linux</em> Fedora</span></a>
    <a href="#build-code-on-arch"><span class="dropdown-item"><em class="gnu-linux">GNU/Linux</em> Arch (Manjaro etc.)</span></a>
    <a href="#build-code-n-lo"><span class="dropdown-item"><em class="gnu-linux">GNU/Linux</em> General Instructions</span></a>
    <a href="#build-code-on-gitpod"><span class="dropdown-item" href="#">Gitpod (Windows, Mac, Linux, etc)</span></a>
  </div>
</div>
