<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose what to build
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="https://collaboraonline.github.io/post/build-code#libreoffice">LibreOffice</a>
    <a class="dropdown-item" href="https://collaboraonline.github.io/post/build-code#building-code">Collabora Online Dev. (CODE)</a>
    <a class="dropdown-item" href="https://collaboraonline.github.io/post/build-code-android/">CODE for Android</a>
  </div>
</div>
