<time class="meeting-time" datetime="{{ .Get "tm" }}">{{ .Get "tm" }}</time>


<script>
	window.addEventListener('load', function () {
		var meetings = document.getElementsByClassName('meeting-time');
		var now = new Date();
		var berlin = new Date(now.toLocaleString('en-US', { timeZone: 'Europe/Berlin' }));
		var utc = new Date(now.toLocaleString('en-US', { timeZone: 'UTC' }));
		var tmzone = (berlin - utc) / 3600000 === 2 ? ' CEST' : ' CET';

		for (var i = 0; i < meetings.length; i++) {
			if (meetings[i].hasAttribute("timezone")) {
				break;
			}
			meetings[i].innerHTML += tmzone;
			meetings[i].setAttribute("timezone", tmzone);
		}
	});
</script>
