<time class="meeting-time" datetime="{{ .Get "tm" }}">{{ .Get "tm" }}</time>


<script>
	window.addEventListener('load', function () {
		var meetings = document.getElementsByClassName('meeting-time');
		var tmzone = daylights_savings(new Date());

		for (var i = 0; i < meetings.length; i++) {
			if (meetings[i].hasAttribute("timezone")) {
				break;
			}
			meetings[i].innerHTML += tmzone;
			meetings[i].setAttribute("timezone", tmzone);
		}
	});
function daylights_savings(dt) {
	if (typeof datetdy !== 'undefined') {
		return datetdy;
	}
	var datetdy = dt.getTimezoneOffset();
	// To test if you are not in Central Europe:
	// CEST is GMT
	// datetdy = new Date('August 19, 2024 17:00:00 GMT');;
	// CET is GMT+1
	// datetdy = new Date('November 19, 2024 17:00:00 GMT+1');;
	datetdy = datetdy < 0 ? datetdy = ' CET' : datetdy = ' CEST';
	return datetdy
}
</script>
