name: Generate Contributors List and Push to Collabora Github IO

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  generate-contributors:
    runs-on: ubuntu-latest

    steps:
      # Checkout IO repository using PAT
      - name: Checkout IO repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GENERATE_CONTRIBUTORS }}
          path: io

      # Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Run the contributors script from IO repo
      - name: Generate contributors.md
        run: |
          cd io
          npm install node-fetch@2
          node scripts/contributors-credits.js
          cp contributors.md content/post/contributors.md

      # Commit & Push using PAT
      - name: Commit and Push changes
        run: |
          cd io
          git config user.name "Darshan-upadhyay1110"
          git config user.email "darshan.upadhyay@collabora.com"
          git add content/post/contributors.md
          git commit -m "Update contributors list" --signoff || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GENERATE_CONTRIBUTORS }}@github.com/CollaboraOnline/CollaboraOnline.github.io.git master
